<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<p>这是模板</p>
{# 	{% if user %}
	<a href="#">用户:{{user.username}}</a>
	<p></p>
	<a href="#">年龄:{{user.age}}</a>
	{% else %}
	<a href="#">登录</a>
	<a href="#">注册</a>
	{%endif%} #}

<table>
	<thead>
		<th>用户名</th>
		<th>年龄</th>
		<th>性别</th>
	</thead>
	<tbody>
		{%for user in user%}
		<tr>
			<td>{{user.username}}</td>
			<td>{{user.age}}</td>
			<td>{{user.gender}}</td>
		</tr>
		{%endfor%}
	</tbody>
</table>
</body>
</html>